/* CSS全局配置 */ 
body {
    font-family: "Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",WenQuanYi Micro Hei,sans-serif;
    -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

@import "_partial/header"

@import "_partial/center"

@import "_partial/banner"
@import "_partial/archive"
@import "_partial/article"

@import "_partial/footer"