.banner-width{
    width: 100%;
}
section {
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    background-color: #fff;
}

.section-center {
    display: table;
}

.section-heading {
    margin-bottom: 60px;
    color: #1f2126;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.7;
}

.section-heading+.section-sub-heading {
    margin-top: -50px;
    margin-bottom: 60px;
    color: #9ba3af;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}

.section-center .section-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.section-center .section-inner .context {
    margin: 0 auto;
    max-width: 400px;
}

.card {
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.card .card-title {
    margin-bottom: 20px;
    color: #3d444f;
    font-weight: 400;
}

.lifecycle .card .card-icon svg {
    width: 48px;
    height: 48px;
    fill: #4a5c6c;
}

.lifecycle .card .card-title {
    margin-top: 0;
    text-align: left;
}

.lifecycle .card .card-text {
    color: #646a75;
    text-align: left;
}

.workflow {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 16px;
}

.workflow .container {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid #d0d4d9;
}

.workflow .container:first-of-type {
    border-top: 1px solid #d0d4d9;
}

.workflow .container:last-of-type {
    border-bottom: 0px;
}

.v-align {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-right: -5px;
    margin-left: -5px;
}

.section-half-icon svg {
    width: 280px;
    height: 165px;
}

@media (min-width: 768px) {


    .lifecycle .card {
        width: 20%;
    }

    .lifecycle .card .card-icon {
        margin-bottom: 20px;
    }

    .lifecycle .card .card-text, .lifecycle .card .card-title {
        text-align: center;
    }
}

@media (min-width: 480px) {
    .card {
        margin-bottom: 0;
    }
}